@page
@model PersonalApp.Pages.ContentModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <div class="brief-section">
        <div class="introBg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="z-index: 1;">
                    <div class="brief-container">
                        <h4>MOHAMED SAMY MOHAMED</h4>
                        <p class="subtitle">WEB DESIGNER / DEVELOPER</p>
                        <h6>A TALENTED FREELANCER LOCATED IN OUR LOVELY EARTH</h6>
                        <p>
                            Hey, I am a Dot Net Full Stack Developer with 4 years of
                            experience in Web Development. I have developed famous
                            websites and applications, and It's my pleasure to present
                            a high quality service.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="contacts-container">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="personal-photo-container">
                                    <img src="~/images/3.jpg" class="img-thumbnail rounded-circle">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="personal-info-container">
                                    <p><strong>Birthdate</strong>: 13/08/1987</p>
                                    <p><strong>Phone</strong>: 01018985767</p>
                                    <p><strong>Email</strong>: mohamedsamy871@gmail.com</p>
                                    <p><strong>Github</strong>: <a href="https://github.com/mohamedsamy871">mohamedsamy871</a></p>
                                    <p><strong>Linked In</strong>: <a href="https://linkedin.com/in/mohamedsamy871">mohamedsamy871</a></p>
                                </div>
                                <div class="row personal-info-buttons-container">
                                    <div class="col-lg-5 personal-info-buttons">
                                        <a href="#">
                                            print cv
                                            <i class="btn-curve"></i>
                                        </a>
                                    </div>
                                    <div class="col-lg-7 personal-info-buttons">
                                        <a href="#"> download cv</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------New Section--------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------->
    <div class="experience">
        <div class="title-stripe">
            My Experience
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="exp-item">
                        <h4>
                            Web Developer
                            <span>
                                -Full Stack Developer
                            </span>
                        </h4>
                        <p>
                            Hey, I am a Dot Net Full Stack Developer with 4 years of
                            experience in Web Development. I have developed famous
                            websites . My strength points appears in C# Language, ASP.NET
                            MVC, ASP.NET Core, Angular, web API, Entity Framework, MS SQL
                            Server, Deep understanding in Object Oriented Programming ,
                            JavaScript, Vue.js, jQuery and Bootstrap5 . I’m looking for a
                            new opportunity to enhance my experience in Software
                            Development field and get new challenges in different business
                            areas.
                        </p>
                        <div class="date-container">
                            <i class="fa fa-date"></i>
                            <div class="date">
                                2021-Now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>